<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scott Angelides</title>
    <style>
@font-face {
    font-family: Gazpacho Black;
    src: url("{{ url_for('static', filename='Gazpacho Black.otf') }}");
}

@font-face {
    font-family: Jetbrains Mono;
    src: url("{{ url_for('static', filename="JetBrainsMono.ttf") }}");
}
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Public+Sans">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile.css') }}">
</head>
<body class="dark">
    <div class="decorations">
        <t class="large-background-text">Hello</t>
    </div>
    <div class="content" id="content">
        <div class="name-text-div">
            <h1 class="name-text">I'm Scott Angelides.</h1>
            <h2 class="post-name">I do cool things on the internet.</h2>
        </div>
        <p class="blurb">I'm a front-end developer specializing in Javascript and Python. I've been hacking things together since I was about 10 years old. Along the way I've built dozens of games, apps, and websites.</p>
        <ul class="skills">
            <li>Javascript</li>
            <li>Python</li>
            <li>React</li>
            <li>Node.js</li>
            <li>BeautifulSoup</li>
            <li>Web Security</li>
        </ul>
        <div class="buttons-wrap">
            <a class="link" href="mailto:scott@angelid.es">Send me an Email</a>
            <a href="/static/Resume.pdf" download="Resume.pdf">Download my Resume</a>  
        </div>
    </div>
</body>
</html>