{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">
{% endblock %}


{% block content %}
<div id="grid" class="project-grid">
    <a class="pokemania" href="https://github.com/JustCookieDough/pokemania">Pokemania<i>A bracketmaking website made in about 10 days for my friends</i></a>
    <a class="snake" href="https://github.com/JustCookieDough/Snake">Snake<i>A snake Chrome extension</i></a>
    <a class="portfolio" href="https://github.com/JustCookieDough/flask-new-portfolio">Portfolio<i>This website</i></a>
    <a class="yahoo" href="https://github.com/JustCookieDough/YahooArchiver">Yahoo Answers<i>A partial archive</i></a>
    <a class="willson" href="https://github.com/JustCookieDough/5ClicksToJesus">5CTJ<i>Culminating Project for Year 1 of University</i></a>
    <a class="cooooookies" href="https://github.com/JustCookieDough/cooooookies">Cooooookies<i>I broke an online contest and one 100 pounds of actual, real chocolate chip cookies</i></a>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='scripts/projects.js') }}"
{% endblock %}